[submodule "CelestialMain"]
	path = CelestialMain
	url = https://github.com/fishcute/CelestialMain.git
[submodule "CelestialExpressions"]
	path = CelestialExpressions
	url = https://github.com/block36underscore/CelestialExpressions.git
